# WordPress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
/.vs/
/.vs/phweb/CopilotIndices/18.7.1259.47395/CodeChunks.db
/.vs/phweb/CopilotIndices/18.7.1259.47395/SemanticSymbols.db
/.vs/slnx.sqlite
/.vs/phweb.slnx/FileContentIndex/053177b3-b23b-4705-b9c8-a7e802af889f.vsidx
/.vs/phweb.slnx/FileContentIndex/615146cf-4037-4799-8f68-cca84dd1c51f.vsidx
/.vs/phweb.slnx/FileContentIndex/d5926a9a-5ae3-4a8a-858a-eb1662855035.vsidx
/.vs/phweb.slnx/FileContentIndex/db7f4f05-5a04-4cd9-bff3-a4267324f465.vsidx
/.vs/phweb.slnx/v18/DocumentLayout.json
/.vs/phweb.slnx/v18/.wsuo
